<!DOCTYPE HTML>
<html>
<head>
   <title>YA3C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>

    <div data-role="page" id="pageone">
      <div data-role="header">
        <h1>YA3C Demo</h1>
      </div>

      <div data-role="main" class="ui-content">
        <a class="ui-btn" target="_blank" href="/app/heart">Heart Renderer</a>
        <a class="ui-btn" href="/receiver/heart">Heart Receiver</a>
      </div>

      <div data-role="footer">
        <h1>Author : S.P. Mohanty</h1>
      </div>

    </div>     
</body>
</html>
